.main-section>h1{
    text-align: center;
}
.dashboard-layout{
    display: flex;
    height: 100vh;
}
.side-bar{
    display: flex;
    flex-direction: column; 
    width: 10%;
    background-color: rgba(255, 217, 0, 0.685);
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
    box-shadow: 0 0 5px;
    min-width: 146px;
}
.side-bar>nav{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}
.side-bar>nav>a{
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
}
.side-bar>nav>a:hover{
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: gold;
}

.side-logo{
    width: 50%;
}
.current-page{
    background-color: black;
    color: gold;
}
.main-section{
    width: 100%;
    padding: 10px;
}
.main-section>h1{
    height: 10%;
}
.data-section{
    box-shadow: 0 0 8px 0;
    padding:2em 0;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    border-radius: 10px;
}
.data-section>*{
    width: fit-content;
    border-radius: 10px;
    margin-inline: 100px;
}
.features-card{
    background-color: gold;
    padding: 1em 2em;
    width: fit-content;
    height: fit-content;
    min-width: 478px;
}
.features-card>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    margin-top: 10px;
}
.data-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    width: 100%;
}

.double-side-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    padding-inline: 2em;
    max-width: 1218px;
    margin-inline: auto;
}
.double-side-card{
    background-color: gold;
    padding: 3em 1em;
    border-radius: 10px;
    width:33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    min-width: 280px;
}